.home-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
}

.book-container {
  width: 100%;
  height: 100%;
  background: #ecf0f2;
  box-sizing: border-box;
}

.book-menu {
  display: flex;
  line-height: 48px;
  width: 100%;
  margin-bottom: 24px;
}

.book-menu-item {
  width: calc(100% / 3);
  text-align: center;
  cursor: pointer;
  background: #6497b1;
  color: #011f4b;
  font-weight: bold;
  font-size: 20px;
}

.book-menu-item-active {
  background: #b3cde0;
  animation: slideIn 1s forwards;
}

.book-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #011f4b;
}

.book-item {
  width: calc(100% / 3 - 48px);
  height: 100px;
  display: flex;
  transition: 0.3s;
  padding: 24px;
}

.book-image {
  width: 80px;
  min-width: 80px;
  height: 100%;
  background: #fff;
  border: 1px solid #dadada;
  padding: 3px;
  border-radius: 4px;
}

.book-info {
  width: calc(100% - 75px);
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 16px;
}

.book-name {
  width: 100%;
  height: 36px;
  line-height: 36px;
  min-height: 36px;
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  margin-left: 16px;
  color: #4183d7;
}

.book-chapter {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 12px;
  justify-content: center;
  margin-left: 16px;
  color: #003555;
}

.book-chapter > span {
  margin-bottom: 10px;
}

@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

@-moz-keyframes slideIn {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}
