.pagination-container {
  width: 48px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-number {
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
  border-radius: 16px;
  text-align: center;
  line-height: 24px;
  color: #4183d7;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.page-number:hover {
  background: #4875a4;
  color: #fff;
  transition: all 0.5s;
}

.page-number-active {
  background: #4875a4;
  color: #fff;
}

.page-number > img {
  width: 12px;
  height: 12px;
}
